<!-- <nav class="navMenu">
  <a href="/" class="text-gray-dark">Home</a>
  <%= link_to "Posts", posts_path, class:"text-gray-dark"%>
  <a href="#">Blog</a>
  <a href="#">Work</a>
  <a href="#">About</a>
  <div class="dot"></div>
</nav> -->