<div class="container">
  <div class="row ">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5 form_row">
        <div class="card-body">
          <h3 class="card-title text-dark text-center">Create Post</h3>
						<%= render "form", post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>
